<div class="chatroom flex overflow-hidden" data-controller="subscribe"  data-subscribe-id="<%= @workspace.id %>" data-subscribe-channel="<%= @channel&.id || 0 %>" data-subscribe-direct="<%= @directmsg&.id || 0 %>" data-subscribe-thread="<%= @thread&.id || 0 %>">
  <%= render "./shared/leftbar", workspace: @workspace, 
                                  channels:  @channels,
                                  unread_msg_bol: @unread_msg_bol,
                                  unread_msg_count: @unread_msg_count,
                                  channel: @channel || @directmsg %>
  <div class="flex flex-col flex-grow min-w-0 min-h-0 h-screen">
    <%# 上方白色區塊顯示頻道名稱與邀請按鈕 %>
    <div class="box-border border-b border-gray-400 h-16 flex justify-between items-center current-channel-or-directmsg" channel_id="<%= @channel.try(:id) || 0 %>" directmsg_anther_user_id="<%= User.find_by(nickname: @directmsg_user_name).try(:id) || 0 %>">
      <p class="ml-2 font-bold"># <%=  @channel.try(:name) || @directmsg_user_name %></p>
        <%# button %>  
      <div class="btn-group flex">
        <% if @channel %>
          <button class="invite-ch-btn h-8 w-8 rounded hover:bg-gray-100 hover:stroke-gray active:bg-gray-400 focus:outline-none text-2xl mr-2 flex items-center justify-center self-center">
            <i class="fas fa-user-plus text-gray-600"></i>
          </button>
        <% end %>
        <div class="profile pr-2 col-span-1 ml-auto">
          <div class="clickopen relative">
            <span class="rounded-md shadow-sm">
              <%= image_tag (current_user.profile.try(:avatar_url,(:small)) || 'https://ca.slack-edge.com/T018LF2LHK3-U018XMDF20Y-g206a10ded6a-32'),class:"leading-5 transition ease-in-out duration-150 avatar_small w-10 h-10","aria-haspopup": true,"aria-expanded": true,id: "options-menu" %> 
            </span>
          </div>
          <div class="open mt-2 w-56 rounded-md shadow-lg hidden absolute right-0 z-40">
            <div class="rounded-md bg-white shadow-xs" role="menu" aria-orientation="vertical"   aria-labelledby="options-menu">
              <div class="pl-2 py-1 flex">
                <%= image_tag current_user.profile.try(:avatar_url,(:small)) || "https://ca.slack-edge.com/T018LF2LHK3-U018XMDF20Y-g206a10ded6a-32",class:"leading-5 transition ease-in-out duration-150 avatar_small w-10 h-10","aria-haspopup": true,"aria-expanded": true %> 
                <a href="#" class="block px-4 py-2 text-sm leading-5 text-gray-700 hover:bg-gray-100 hover:text-gray-900 focus:outline-none focus:bg-gray-100 focus:text-gray-900 w-full" role="menuitem">
                  <%= t(".status") %>
                </a>
              </div>
              <div class="border-t border-gray-100"></div>
              <button class= "edit_profile block w-full px-4 py-3 text-sm text-left leading-5 text-gray-700 hover:bg-gray-100 hover:text-gray-900 focus:outline-none focus:bg-gray-100 focus:text-gray-900" role="menuitem"> <%= t(".edit") %></button>
              <div class="border-t border-gray-100"></div>
              <%= link_to t(".sign_out"), destroy_user_session_path, method: "DELETE", class: "block px-4 py-3 text-sm leading-5 text-gray-700 hover:bg-gray-100 hover:text-gray-900 focus:outline-none focus:bg-gray-100 focus:text-gray-900 sign-out",role: "menuitem" %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%# 訊息區 %>
    <div class="messages_area break-all flex flex-col-reverse overflow-y-auto h-chat_full flex-grow border border-1">
      <div class="pb-5 messages" data-target="subscribe.messages">
        <% @messages.where(ancestry: nil).order(:created_at).each do |msg| %>
          <%= render "messages/message_broadcast", message: msg %>
        <% end %>
      </div>
    </div>
    <%# 訊息輸入框 %>
    <div class="sticky">
      <% if @channel %>
        <%= render "./shared/msgform" %> 
      <% else %>
        <%= render "./shared/msgform_direct" %>
      <% end %>
    </div>
  </div>    
  <%= render './shared/shareform' %>
  <%= render './shared/right_info' %>
  <% if @channel %>
    <%= render './shared/invite_ch' %>
  <% end %>
</div>
<%= render './channels/new', channel: @new_channel, workspace: @workspace %>
<%= render './profiles/edit.html.erb' %>


<% if @thread %>
  <script>
    // 打開右側
    const rightInfo = document.querySelector(".right_info")
    rightInfo.classList.toggle("hidden")
    
    const threadCount = document.getElementById("thread-count")
    const messageId = threadCount.getAttribute("message_id")
    // const channelId = threadCount.getAttribute("channel_id")
    const allChannel = document.querySelectorAll(".channel-each")
    const allDirectmsg = document.querySelectorAll(".directmsg-each")
    allChannel.forEach((a) => {
      let channelId = a.getAttribute("channel_id")
      a.setAttribute('href', `/channels/${ channelId }/messages/${ messageId }/threads`)
    });
    allDirectmsg.forEach((a) => {
      let directmsgId = a.getAttribute("directmsg_id")
      a.setAttribute('href', `/directmsgs/${ directmsgId }/messages/${ messageId }/threads`)
    });

  </script>  
<% end %>
 
