<h3 id="<%= @channel.id %>" class="chatroomName">
  聊天室名字:<%= @channel.name %>
</h3>

<% @channel.messages.each do |message| %>
  <p><%= message.content %> - <%= message.user %></p>
<% end %>

<%= form_with(model: @message, url: channel_messages_path(@channel)) do |form| %>
  <%= form.text_field :content, placeholder: "輸入訊息" %>
  <%= form.submit "送出" %>
<% end %>