<div>
  <%= render "./shared/header" %>
  <div class="chatroom grid grid-cols-12">
    <div class="bg-light_sladock text-white col-span-2">
      <h3 id="channel-id" data-channel-id="<%= @channel.id %>" >
        聊天室名字:<%= @channel.name %>
      </h3>
      <%= render "./shared/leftbar" %>
    </div>
    <div class="col-span-10 border border-1 bg-gray-700">
    <div class="flex-col itemsp-end">
      <% @channel.messages.each do |msg| %>
        <%= render "messages/message_broadcast" , message: msg%>
      <% end %>
    </div>
      <%= render "./shared/msgform" %>
    </div>  
  </div>  
</div>
