<div class="bg-white">
  <nav class="py-4 border-b light-gray">
    <h1 class="w-1/2 sm:w-1/6">
      <%= link_to image_pack_tag("media/images/Sladock_logo.png"),pages_path %>
    </h1>
  </nav>
</div>
  <div class="bg-divider">
    <div class=" container mx-auto max-w-lg">
      <div class="join-ws py-8">
        <h3 class="font-bold text-2xl mb-3"><%= t(".your_workspaces") %></h3>
        <p class="text-sm text-gray-700 border-b border-gray-400 pb-5"><%= t(".join") %></p>
          <% @joined_workspace.each do |workspace| %>
            <div class="relative flex justify-between items-center border-b border-gray-400 py-3">
              <% if workspace.workspace.image_url %>
                <%= link_to image_tag(workspace.workspace.image_url(:small)),workspace_channel_path(workspace.workspace,Workspace.find(workspace.workspace_id).channels.find_by(name: "general")),class: "rounded" %>
              <% else %>
                <%=link_to workspace.workspace.name.split('')[0],workspace_channel_path(workspace.workspace,Workspace.find(workspace.workspace_id).channels.find_by(name: "general")),class: "block bg-gray-400 w-10 h-10 text-gray-800 font-bold flex justify-center items-center rounded" %> 
              <% end %>
              <div class="ws w-full z-10">
                <%= link_to workspace.workspace.name, workspace_channel_path(workspace.workspace,Workspace.find(workspace.workspace_id).channels.find_by(name: "general")),class:"block py-5 pl-3"%>
              </div>
                <%= link_to t(".launch"),workspace_channel_path(workspace.workspace,Workspace.find(workspace.workspace_id).channels.find_by(name: "general")),class:"z-10 text-sm font-bold bg-white border border-gray-500 rounded py-2 px-3 absolute top-auto right-0 hover:bg-gray-200 transition-all duration-100" %>
            </div>
          <% end %>
      </div>
      <div class="create-ws pb-8">
        <h3 class="font-bold text-2xl mb-3"><%= t(".create") %></h3>
        <p class="text-sm text-gray-700 mb-4"><%= t(".different_team") %></p>
        <%= link_to t(".create_btn"),new_workspace_path,class:"z-10 text-sm font-bold bg-white border border-gray-500 rounded py-2 px-3 hover:bg-gray-200 transition-all duration-100" %>
      </div>
    </div>
  </div>

<%# <div class=""> %>
<%# <h3><%= t(".all_workspaces")</h3> %> 
<%# @workspaces.each do |workspace| %>
  <%# <p> %>
    <%#= link_to workspace.name, workspace_path(workspace.id) %>
    <%#= link_to '加入', workspace_users_workspaces_path(workspace.id), method:"post", remote: true %>
    <%#= link_to '離開', workspace_users_workspaces_path(workspace.id), method:"delete", remote: true %>
  <%# </p> %>
<%# end %>
<%# </div> %>