
<div>
  <%= render "./shared/header" %>
  <div class="chatroom grid grid-cols-12">
    <div class="bg-light_sladock text-white col-span-2">
        <h3>以下顯示所有的workspaces:</h3>
        <% @workspaces.each do |workspace| %>
          <p>
            <%= link_to workspace.name, workspace_path(workspace.id) %>
            <%= link_to "加入workspace", workspace_users_workspaces_path(workspace.id), method:"post", remote: true %>
            <%= link_to "離開workspace", workspace_users_workspaces_path(workspace.id), method:"delete", remote: true %>
          </p>
        <% end %>
        <h3>以下顯示加入的workspaces:</h3>
        <% @joined_workspace.each do |workspace| %>
          <p>
            <%= link_to workspace.workspace.name, workspace_path(workspace.workspace.id)%>
          </p>
        <% end %>
    </div>
    <div class=" col-span-10 border border-1">
    </div>  
  </div>
  <div class="chatroom grid grid-cols-12 h-10 border border-1 ">
    <div class="bg-light_sladock text-white col-span-2">
    </div>
    <div class=" col-span-10">
    </div>  
  </div>


</div>
