
  <div class="chatroom flex h-full" data-controller="hello">
    <div class="leftbar flex flex-col">
      <div class="box-border border-b bg-deep_sladock border-border_b h-16 flex items-center">
        <div class="ml-5 w-2/4 h-5 px-2 bg-sladock rounded-full text-white font-bold text-sm truncate" data-target="hello.output"></div>
        </div>
        <div class="bg-deep_sladock text-white h-left_full" style="width: 300px">
      </div>
    </div>
    <div class="flex flex-col flex-grow min-w-0 min-h-0 ml-10">
      <div class=" max-w-2xl py-5">
        <p class=" text-xs my-3">
          <%= t(".step") %>
        </p>
        <h3 class="text-3xl font-bold leading-tight">
          <%= t(".name") %>
        </h3>
        <p class="text-sm mt-3 mb-5">
          <%= t(".name_detail") %>
        </p>
        <%= form_with(model: @workspace, url: workspaces_path, local: true, class: "text-xl") do |f| %>
          <div class="relative">
            <%= f.text_field :name, 
              placeholder: t(".placeholder"),
              data: { action: "input->hello#input focus->hello#check" },
              class: "w-full font-bold px-2 py-2 mb-5 border border-gray-800 rounded block w-full placeholder-gray-600 focus:outline-none focus:shadow-outline",autocomplete: "off"
            %>
            <div class="hidden check-word absolute inset-y-0 right-0 flex items-center mr-3 text-gray-700" data-target="hello.check">
              255
            </div>              
          </div>         
          <div class="ws-image">
            <%= f.hidden_field :image, value: @workspace.cached_image_data %>
            <%= f.file_field :image %>  
            <p class="text-xs text-gray-600"><%= t('.upload') %></p>
          </div>
          <%= f.submit t("utilities.submit"),
              class:"create-ws-btn cursor-pointer block font-bold text-white px-20 py-2 my-5 mr-auto bg-gray-500 rounded focus:outline-none",disabled: true
          %>
        <% end %>
        <% if @workspace.errors.any? %>
          <% if Workspace.find_by(name: params[:workspace][:name]) %>
            <span class="error_messages text-red-600 text-sm font-bold" data-target="hello.error"><%= t(".errors.messages.exist",name: params[:workspace][:name]) %></span>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
