<div class="leftbar min-w-1/5">
  <div class="box-border border-b bg-sladock border-sladock_border h-16 flex justify-between items-center pl-5">
    <h3 class="chatroomName text-white font-bold text-xl current-worksapce" workspace_id="<%= workspace.id %>"">
      <%= workspace.name %> 
    </h3>
    <a class="close"><i class="far fa-times-circle text-white mr-2"></i></a>
  </div>
  <div class="bg-sladock text-white overflow-y-auto min-w-300 h-left_full" data-controller="notification" data-notification-workspace="<%= workspace.id %>" data-notification-user="<%= current_user.nickname %>" data-notification-channel="<%= channel&.id || "" %>">
    <div class="left-bar">
      <%= link_to workspace_draft_path(workspace),class:"truncate pl-10 pt-2 pb-1 w-full block hover:bg-deep_sladock block draft-btn align-middle" do %>
        <i class="fas fa-pen-square mr-2"></i>
        <%= t(".sidebar.drafts") %>
      <% end %>
      <%= link_to workspace_uploadedfiles_path(workspace),class:"truncate pl-10 pt-1 pb-2 w-full block bg-sladock border-b border-border_b hover:bg-deep_sladock" do %>
        <i class="fas fa-file-download mr-2"></i>
        <%= t(".sidebar.save") %>
      <% end %>
      <div class="w-full">
        <div class="font-medium flex justify-between items-center py-1">
          <p class="ch-name truncate pl-5 text-lg"><%= t(".channel.name") %></p> 
          <%= link_to new_workspace_channels_path(workspace_id: workspace.id),class: 'create-ch-btn text-2xl pr-3' do %>
            <i class="fas fa-plus-circle text-2xl hover:bg-white text-white-500 hover:text-sladock hover:rounded-full"></i>
          <% end %>
        </div>
      </div>
      <% channels.where.not(id: nil).each do |channel| %>
        <div data-controller="channels" data-channels-id="<%= channel.id %>" class='truncate pl-10 py-1 hover:bg-deep_sladock flex pr-5'>
          <span class="pr-2">#</span>
          <%= link_to channel.name, workspace_channel_path(workspace, channel), channel_id: channel.id, class: unread_msg_bol[channel.id] ? "font-bold channel-each" : "channel-each", data: { target: "thread.channels" } %>
          <% if channel.users.include?(current_user) %>
            <button data-action="click->channels#removeChannel" data-target="channels.symbol">-</button>
          <% else %>
            <button data-action="click->channels#addChannel" data-target="channels.symbol">+</button>
          <% end %>
          <span class="mention ml-auto text-red-600 w-8 bg-yellow-400 rounded-full text-center hidden" mention-id="<%= channel.id %>"><%= unread_msg_bol[channel.id] && channel.mentions.select{|mention| mention.user_id == current_user.id} != [] ? channel.mentions.select{|mention| mention.user_id == current_user.id}.count : nil %></span>
        </div>
      <% end %>
      <div class="w-full">
        <p class="font-medium truncate pl-5 text-lg py-2 mt-2 border-t border-border_b">
          <%= t(".channel.direct") %>
        </p>
        <% (workspace.users - [current_user]).each do |user| %>
          <p class="truncate pl-10 py-1 hover:bg-sladock flex pr-5">
            <%= link_to user.nickname, workspace_directmsg_path(workspace, user.id), class: "d-block mr-auto directmsg-each", user_id: user.id, directmsg_id: Directmsg.create_or_find([current_user, user], @workspace.id).id %>
            <span class="count text-red-600 w-8 bg-yellow-400 rounded-full text-center hidden" unread-id="<%= user.id %>"><%= unread_msg_count["#{user.id}"] != nil  && unread_msg_count["#{user.id}"] > 0 ? unread_msg_count["#{user.id}"] : nil %></span>
          </p>
        <% end %>
        <%# button顯示 %>
        <p class="invite-ws-btn truncate pl-10 py-1 hover:bg-deep_sladock cursor-pointer">
          <i class="fas fa-plus text-white-500 mr-2"></i><%= t(".sidebar.invite") %>
        </p>
        <%= render "./shared/invite_ws" %>
      </div>
      <div class="w-full">
        <p class="font-medium truncate pl-5 text-lg py-2 mt-2 border-t border-border_b">
          App
        </p>
        <p class="truncate pl-10 py-1 hover:bg-deep_sladock flex pr-5 mb-2 text-lg">
          <%= link_to webhooks_path do %>
            <i class="fab fa-github mr-2"></i><span>GitHub</span>
          <% end %>
        </p>
      </div>
      <div class="w-full">
        <p class="font-medium truncate pl-5 text-lg py-2 border-t border-border_b">
          <%= render './shared/language' %>
        </p>
      </div>
    </div>
  </div> 
</div> 


