<div class="leftbar hidden md:block">
  <div class="box-border border-b bg-light_sladock border-sladock_border h-16 flex items-center pl-10">
    <h3 class="chatroomName text-white font-bold text-lg">
      <%= workspace.name %>
    </h3>
  </div>
  <div class="bg-light_sladock text-white overflow-y-auto min-w-200 h-left_full" style="width: 300px" data-controller="notification" data-notification-workspace="<%= workspace.id %>" data-notification-user="<%= current_user.nickname %>">
    <div class="left-bar">
      <%= link_to t(".sidebar.drafts"),workspace_draft_path(@workspace),
        class: "truncate pl-10 py-1 hover:bg-deep_sladock block hidden draft-btn" %>
      <p class="truncate pl-10 py-1 hover:bg-deep_sladock"><%= t(".sidebar.threads") %></p>
      <p class="truncate pl-10 py-1 hover:bg-deep_sladock"><%= t(".sidebar.mentions") %></p>
      <p class="truncate pl-10 py-1 hover:bg-deep_sladock"><%= link_to t(".sidebar.save"), workspace_uploadedfiles_path(workspace) %></p>
      <p class="truncate pl-10 py-1 hover:bg-deep_sladock"><%= t(".sidebar.more") %></p>
      <p class="truncate pl-10 py-1 hover:bg-deep_sladock"><%= t(".sidebar.shared") %></p>
      <div class="w-full">
        <div class="font-medium flex justify-between items-center pl-10 py-1">
          <p class="ch-name truncate"><%= t(".channel.name") %></p> 
          <%= link_to '+', new_workspace_channels_path(workspace_id: workspace.id),class: 'create-ch-btn text-2xl' %>
        </div>
      </div>
      <% channels.each do |channel| %>
        <div data-controller="channels" data-channels-id="<%= channel.id %>" class='truncate pl-10 py-1 hover:bg-deep_sladock'>
          <span>#</span>
          <%= link_to channel.name, workspace_channel_path(workspace, channel), channel_id: channel.id, class: unread_msg_bol[channel.id] ? " font-bold" : "" %>
          <% if channel.users.include?(current_user) %>
            <button data-action="click->channels#removeChannel" data-target="channels.symbol">-</button>
          <% else %>
            <button data-action="click->channels#addChannel" data-target="channels.symbol">+</button>
          <% end %>
        </div>
      <% end %>
      <div class="w-full">
        <p class="font-medium truncate pl-10 py-1">
          <%= t(".channel.direct") %>
        </p>
        <% (workspace.users - [current_user]).each do |user| %>
          <p class="truncate pl-10 py-1 hover:bg-deep_sladock">
            <%= link_to user.nickname, workspace_directmsg_path(workspace, user.id) %>
            <span class="count text-red-300" unread-id="<%= user.id %>">
              <%= unread_msg_count["#{user.id}"] != nil && unread_msg_count["#{user.id}"] > 0 ? unread_msg_count["#{user.id}"] : "" %>
            </span>
          </p>
        <% end %>
        <%# button顯示 %>
        <p class="invite-ws-btn truncate pl-10 py-1 hover:bg-deep_sladock cursor-pointer">
          <%= t(".sidebar.invite") %>
        </p> 
        <%= render "./shared/invite_ws" %>
        <%= render './shared/language' %>
      </div>
    </div>
  </div> 
</div> 


