<div class="leftbar hidden md:block">
  <div class="box-border border-b bg-sladock border-sladock_border h-16 flex items-center pl-5">
    <h3 class="chatroomName text-white font-bold text-xl pt-4">
      <%= workspace.name %>
    </h3>
  </div>
  <div class="bg-sladock text-white overflow-y-auto min-w-200 h-left_full pt-4 " style="width: 300px" data-controller="notification" data-notification-workspace="<%= workspace.id %>" data-notification-user="<%= current_user.nickname %>" data-notification-channel="<%= channel&.id || "" %>">
    <div class="left-bar">
      <%= link_to workspace_draft_path(@workspace),class:"truncate pl-10 py-1 w-full block hover:bg-deep_sladock block hidden draft-btn align-middle" do %>
        <i class="fas fa-pen-square mr-2"></i>
        <%= t(".sidebar.drafts") %>
      <% end %>
      <%= link_to workspace_uploadedfiles_path(workspace),class:"truncate pl-10 py-1 w-full block bg-sladock border-b border-border_b hover:bg-deep_sladock" do %>
        <i class="fas fa-file-download mr-2"></i>
        <%= t(".sidebar.save") %>
      <% end %>
      <div class="w-full">
        <div class="font-medium flex justify-between items-center py-1">
          <p class="ch-name truncate pl-5 text-lg"><%= t(".channel.name") %></p> 
          <%= link_to '+', new_workspace_channels_path(workspace_id: workspace.id),class: 'create-ch-btn text-2xl pr-5' %>
        </div>
      </div>
      <% channels.each do |channel| %>
        <div data-controller="channels" data-channels-id="<%= channel.id %>" class='truncate pl-10 py-1 hover:bg-deep_sladock'>
          <span>#</span>
          <%= link_to channel.name, workspace_channel_path(workspace, channel), channel_id: channel.id, class: unread_msg_bol[channel.id] ? " font-bold" : "" %>
          <% if channel.users.include?(current_user) %>
            <button data-action="click->channels#removeChannel" data-target="channels.symbol">-</button>
          <% else %>
            <button data-action="click->channels#addChannel" data-target="channels.symbol">+</button>
          <% end %>
        </div>
      <% end %>
      <div class="w-full">
        <p class="font-medium truncate pl-5 text-lg py-2 mt-2 border-t border-border_b">
          <%= t(".channel.direct") %>
        </p>
        <% (workspace.users - [current_user]).each do |user| %>
          <p class="truncate pl-10 py-1 hover:bg-sladock flex pr-5">
            <%= link_to user.nickname, workspace_directmsg_path(workspace, user.id), class: "d-block mr-auto" %>
            <span class="count text-red-600 w-8 bg-yellow-400 rounded-full text-center hidden" unread-id="<%= user.id %>"><%= unread_msg_count["#{user.id}"] != nil  && unread_msg_count["#{user.id}"] > 0 ? unread_msg_count["#{user.id}"] : nil %></span>
          </p>
        <% end %>
        <%# button顯示 %>
        <p class="invite-ws-btn truncate pl-10 py-1 hover:bg-deep_sladock cursor-pointer">
          <%= t(".sidebar.invite") %>
        </p> 
        <%= render "./shared/invite_ws" %>
        <%= render './shared/language' %>
      </div>
    </div>
  </div> 
</div> 


