<div class="flex">
  <h3 class="chatroomName">
    <%= @workspace.name %>
  </h3> 
</div>
<div class="w-full bg-white border "></div>
<div class="w-full"><%= t("leftbar.sidebar.threads") %></div>
<div class="w-full"><%= t("leftbar.sidebar.mentions") %></div>
<div class="w-full"><%= t("leftbar.sidebar.save") %></div>
<div class="w-full"><%= t("leftbar.sidebar.more") %></div>
<div class="w-full"><%= t("leftbar.sidebar.shared") %></div>
<div class="w-full">
  <p class="font-medium flex justify-between">
    <%= t("leftbar.channel.name") %>
    <%= link_to t("leftbar.channel.new"), new_workspace_channels_path(workspace_id: @workspace.id) %>
  </p>
    <% @channels.each do |channel| %>
      <li data-controller="channels" data-channels-id="<%= channel.id %>">
        <%= link_to channel.name, workspace_channel_path(@workspace, channel) %>
        <% if channel.users.include?(current_user) %>
          <%= link_to "-", channel_users_channels_path(channel.id), method: "post", remote: true, data:{action: "click->channels#removeChannel", target: "channels.symbol"} %>
        <% else %>
          <%= link_to "+", channel_users_channels_path(channel.id), method: "delete", remote: true, data:{action: "click->channels#addChannel", target: "channels.symbol"} %>
        <% end %>
      </li>
    <% end %>
</div>
<div class="w-full">
  <p class="font-medium"><%= t("leftbar.channel.direct") %></p>
  <% (@workspace.users - [current_user]).each do |user| %>
    <li>
      <%= link_to user.nickname, workspace_directmsg_path(@workspace, user.id) %>
    </li>
  <% end %>
</div>
