  <h3 class="chatroomName">
    <%= @workspace.name %>
  </h3> 
  <div class="w-full bg-white border"></div>
  <div class="w-full"><%= t(".sidebar.threads") %></div>
  <div class="w-full"><%= t(".sidebar.mentions") %></div>
  <div class="w-full"><%= t(".sidebar.save") %></div>
  <div class="w-full"><%= t(".sidebar.more") %></div>
  <div class="w-full"><%= t(".sidebar.shared") %></div>
  <div class="w-full">
    <p class="font-medium flex justify-between">
      <%= t(".channel.name") %>
      <%= link_to t(".channel.new"), new_workspace_channels_path(workspace_id: @workspace.id) %>
    </p>
    <% @channels.each do |channel| %>
      <div data-controller="channels" data-channels-id="<%= channel.id %>">
        <span>#</span>
        <%= link_to channel.name, workspace_channel_path(@workspace, channel), channel_id: channel.id, class: @unread_msg_bol[channel.id] ? "font-bold" : "" %>
        <% if channel.users.include?(current_user) %>
          <button data-action="click->channels#removeChannel" data-target="channels.symbol">-</button>
        <% else %>
          <button data-action="click->channels#addChannel" data-target="channels.symbol">+</button>
        <% end %>
      </div>
     <% end %>
  <div class="w-full">
    <p class="font-medium" data-controller="unread-msg" data-unread-msg-workspace="<%= @workspace.id %>"><%= t(".channel.direct") %></p>
    <% (@workspace.users - [current_user]).each do |user| %>
      <p class="flex justify-between">
        <%= link_to user.nickname, workspace_directmsg_path(@workspace, user.id) %>
        <span class="count text-red-300" unread-id="<%= user.id %>"><%= @unread_msg_count["#{user.id}"] != nil && @unread_msg_count["#{user.id}"] > 0 ? @unread_msg_count["#{user.id}"] : "" %></span>
      </p>
    <% end %>
  </div>
</div>
<div class="w-full">
  <p class="font-medium"><%= t("leftbar.channel.direct") %></p>
  <% (@workspace.users - [current_user]).each do |user| %>
    <li>
      <%= link_to user.nickname, workspace_directmsg_path(@workspace, user.id) %>
    </li>
  <% end %>
</div>
  <%# button顯示 %>
<button class="invite-ch-btn h-8 w-8  rounded hover:bg-gray-100 hover:stroke-gray active:bg-gray-400 focus:outline-none">
  <%= inline_svg_pack_tag( "media/images/invite-ch.svg" , class: "stroke-current text-gray-600 hover:stroke-gray") %>
</button>
