<%= form_with(model: @message, url:directmsg_messages_path(@directmsg) , class: "flex  appearance-none border-none rounded text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-purple-500", id:"new_message", data:{action: "ajax:success->subscribe#clearmsg", target: "subscribe.newMessage",cid: @directmsg_user_id,name: @directmsg_user_name,wid: @workspace.id}) do |f| %>
  <%= f.text_field :content, class:"min-w-0 flex-grow message-content hidden", placeholder: t(".placeholder"),autocomplete: "off" %> 
  <%= f.fields_for :attachfiles do |file| %>
    <%= file.file_field :document, class:"hidden file-upload" %>
  <% end %>
  <div class="centered">
    <textarea class="editor" placeholder="輸入訊息"></textarea>
  </div>
  <%= f.submit t("utilities.submit"), class:"bg-gray-500 shadow bg-purple-500 hover:bg-purple-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded hidden message-submit" %>
<% end %>
