<div class="thread-title">
  <h1>Thread</h1>
  <p>Channel: <%= @channel.name %></p>
</div>
<br>
<%= render 'threads/thread_messages', thread: @thread %>

<h2 data-target="subscribe.threadcount" threadcount="<%= @thread.children.count %>" message_id="<%= @thread.id %>">
  ===== 有 <%= @thread.children.count %> 則回覆 =====
</h2>

<div class="pb-5 messages" data-target="subscribe.threads">
  <% @thread.children.each do |thread| %>
    <%= render 'threads/thread_messages', thread: thread %>
  <% end %>
</div>

<div class="thread-form">
  <%= render 'threads/threadform' %>
</div>