<%# 右方資訊區 %>
<div class="info right_info hidden w-1/3 min-w-200 border-l border-gray-400">
  <% if @thread %>
    <div class="box-border border-b border-gray-400 h-16">
      <button class="info-cancel">X</button>
      <h1>Thread</h1>
      <p>
        <% if @thread.messageable_type == "Channel" %>
          Channel: <%= @thread.messageable.name %>
        <% else %>
          <%= User.find((@thread.messageable.name.scan(/\d/) - [current_user.id])[0]).nickname %>
        <% end %>
      </p>
    </div>

    <%= render 'threads/message_broadcast', message: @thread %>

    <h2 id="thread-count" data-target="subscribe.threadcount" message_id="<%= @thread.id %>" channel_id="<%= @channel.try(:id) %>" directmsg_id="<%= @directmsg.try(:id) %>">
      ===== 有 <%= @thread.children.count %> 則回覆 =====
    </h2>

    <div class="children-message" data-target="subscribe.threads">
      <% @thread.children.each do |thread| %>
        <%= render 'threads/message_broadcast', message: thread %>
      <% end %>
    </div>

    <div class="thread-form">
      <% if @thread.messageable_type == "Channel" %>
        <%= render 'threads/threadform' %>
      <% else %>
        <%= render 'threads/threadform_directmsg' %>
      <% end %>
    </div>
  <% end %>
</div>