<%# render nav導覽列 %>
<%= render './shared/nav' %>
<div class="container mx-auto flex flex-col items-center text-center">
<div class="sign_in max-w-lg min-w-1/2">
  <h2 class="text-5xl font-bold mb-2"><%= t(".find") %> </h2>
  <p class="mb-3"><%= t(".login") %> </p>

  <div class="btn-group py-6 max-w-sm mx-auto">
    <%= render "devise/shared/links" %>
    <div class="HR mb-6 flex items-center">
      <hr class="flex-grow"><p class="px-2">OR</p><hr class="flex-grow">
    </div>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.email_field :email, autofocus: true, autocomplete: "email",placeholder: "name@work-email.com",class: "w-full py-2 px-2 mb-6 border border-gray-700 rounded focus:outline-none focus:shadow-outline" %>
      </div>
      <div class="field">
        <%= f.password_field :password, autocomplete: "current-password",placeholder: "password",class: "w-full py-2 px-2 mb-6 border border-gray-700 rounded focus:outline-none focus:shadow-outline" %>
      </div>
      <% if devise_mapping.rememberable? %>
        <div class="text-sm flex justify-between">
          <div class="field">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
          <%= link_to t("devise.passwords.forgot_your_password"), new_password_path(resource_name) %>
        </div>
      <% end %>
      <div class="actions">
        <%= f.submit t('.sign_in'),class: " text-white font-bold bg-sladock w-full py-2 border border-gray-400 rounded hover:bg-light_sladock transition-all duration-100"%>
      </div>
    <% end %>
    <div><%= t(".no_account") %>
      <%= link_to t(".sign_up"), new_registration_path(resource_name) %><br />
    </div>
  </div>
</div>

