<div class="chatroom flex">
  <%= render "./shared/leftbar", workspace: @workspace, 
                                 channels:  @channels,
                                 unread_msg_bol: @unread_msg_bol,
                                 unread_msg_count: @unread_msg_count,
                                 channel: @channel || @directmsg %>
    <div class="flex flex-col flex-grow min-w-0 min-h-0">
      <%# 上方白色區塊顯示頻道名稱與邀請按鈕 %>
      <div class="box-border border-b border-gray-400 h-16 font-bold flex flex-col justify-center pl-3">
        <%= t('.title') %>
        <p class="count-draft text-xs text-gray-500"></p>
      </div>
      <%# 訊息區 %>
      <div class="draft-area break-all overflow-y-auto h-chat_full flex-grow border border-1 flex justify-center items-center">
        <div class="draft-desc text-center border border-gray-600 rounded p-3 bg-gray-200 shadow-lg">
          <p class="text-3xl font-bold mb-3"><%= t('.none') %></p>
          <p><%= t('.desc') %></p>
        </div>
      </div>
    </div>    

  <%= render './shared/right_info' %>
  <% if @channel %>
    <%= render './shared/invite_ch' %>
  <% end %>
</div>
<%= render './channels/new', channel: @new_channel, workspace: @workspace %>
<%= render './profiles/edit.html.erb' %>

<%# 草考插入區塊 %>
<template id="draft-group">
  <div class="box relative">
    <a href="#" class="block bg-white rounded-lg my-5 mx-5 p-3 shadow-sm border hover:shadow-md">
      <div class="flex justify-between mb-2">
        <p class="font-bold"></p>
        <div>
          <span class="text-xs text-gray-500"></span>
          <span class="text-xs text-light_pink font-bold"><%= t('.draft') %></span>
        </div>   
      </div>
      <p class="content text-sm"></p>      
    </a>
    <div class="draft-des-group absolute top-15 right-3 bg-white rounded-lg border-2 z-10 shadow-sm
    hidden">
      <div class="flex items-center">
        <span class="draft-delete">
          <i class="far fa-trash-alt text-gray-700  cursor-pointer hover:bg-gray-200 px-1 text-2xl"></i>
        </span>
        <span>
          <a href="#" class="draft-edit hover:bg-gray-200 px-1">
            <i class="fas fa-pencil-alt text-gray-700"></i>
          </a>
        </span>
        <span>
          <i class="far fa-paper-plane text-gray-700 hover:bg-gray-200 cursor-pointer px-1 text-2xl"></i>
        </span>
      </div>
    </div>  
  </div>
</template>