<!DOCTYPE html>
<html>
  <head>
    <title>Sladock</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', defer: true %>
  </head>

  <body>
    <div class="absolute top-0 w-full z-10 text-white"><%= notice %></div>
    <%= yield %>
    <%# <textarea class="1234" placeholder="輸入訊息"></textarea> %>
    <script>
      // $('.1234').keydown( (e) => {
      //   console.log('keydown')
      //   if(e.keyCode == 13){
      //     e.preventDefault()
      //             console.log('e.keyCode', e.keyCode)

      //     console.log(123)
      //   }
      // })
    </script>

  </body>
</html>
