<!DOCTYPE html>
<html>
  <head>
    <title>Sladock</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', defer: true %>
  </head>

  <body>
    <div class="absolute top-0 w-full z-10 text-white"><%= notice %></div>
    <%= yield %>
  </body>
</html>
