<!DOCTYPE html>
<html>
  <head>
    <title>SlackClone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <%= notice %>
    <%= yield %>
    <%= link_to "中文版", :controller => controller_name, :action => action_name, :locale => "zh-TW" %>
    <%= link_to "English", :controller => controller_name, :action => action_name, :locale => "en" %>
  </body>
</html>
